* {
	box-sizing: border-box;
}


body {
	margin: 0;
	font-family: 'Lato', 'sans-serif';
}

#header {
	height: 600px;
	width: 100%;
	margin: auto;
	background-image: url(../portfolio-grafiki/img/header-background.jpg)
}

nav {
	background-color: white;
	position: fixed;
	z-index: 1;
	width: 100%;
	margin: 0;
	text-align: right;
}

#menu ul .menu-item {
	display: inline-block;
	padding: 20px;
	
}

nav a {
	color: #1ac056;
	text-decoration: none;
	
}

#header {
	position: relative;
	font-size: 30px;
}

.header {
	position: absolute;
	width: 100%;
	top: 55%;
	text-align: center;
	color: #fff;
	margin: 0;
	transform: translateY(-50%);
	font-family: 'Roboto', 'sans serif';
}

#about-header {
	text-align: center;
}

#jannowak {
	float: left;
	height: 500px;
	padding: 100px;

}

#about-content {
	top: 80%; 
	padding: 300px;
	
}