/* Style generalne*/

* {
	box-sizing: border-box;
}


body {
	margin: 0;
	font-family: 'Lato', 'sans-serif';
}

span {
	color: #1ac056;
}

/*Koniec styli generalnych*/

/* Wstawienie obrazka jako tło dla nagłowka */
#main-header {
	height: 100vh;
	margin: auto;
	background-image: url(../portfolio-grafiki/img/header-background.jpg);
	background-position: center;
	background-size: cover;
}

/*koniec wstawienia obrazka jako tło*/

/*Menu nawigacyjne*/

#main-menu {
	background-color: white;
	position: fixed;
	z-index: 10;
	width: 100%;
	margin: 0;
	text-align: right;

}

#main-menu ul .menu-item {
	display: inline-block;
	padding: 20px;
}

#main-menu ul .menu-item a {
	color: #1ac056;
	text-decoration: none;
	transition: all .3s;
	
}

#main-menu ul .menu-item a:hover {
	color: black;
}

#main-header {
	position: relative;
}

/*koniec menu nawigacyjnego*/

/*Nagłowek h1 i h2 na tle*/

.header {
	position: absolute;
	top: 50%;
	text-align: center;
	color: #fff;
	right: 0;
	left: 0;
	transform: translateY(-50%);
	font-family: 'Roboto', sans-serif;
}

#main-header .header h1 {
	font-size: 4em;
	font-weight: 300;
}

#main-header .header h2 {
	font-size: 2.3em;
	font-weight: 300;
}

#about-header {
	text-align: center;
}

#jannowak {
	float: left;
	height: 500px;
	padding: 100px;

}

p {
	line-height: 25px;
}

#about-content {
	
}

/*
#header p {
	padding: 300px;
	overflow: hidden;
	text-align: justify;
	
}